*{
    margin: 0;
    padding: 0;
}

body{
    background-color:bisque;
}
.Button{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    margin:40px 50px;
    padding: 20px 100px;
    border-radius: 5px;
    
}

h1{
    color: blueviolet;
    
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    background-color:antiquewhite;
    border-radius: 3px;
    padding: 10px 30px;
    
}

.input-form-container{
    
}
.input-form{
    
    margin: 5px;
    padding: 10px 20px;
    width: fit-content;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn-list-add{
    color: white;
    background-color: salmon;
    border: none;
    margin: 3px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-list-add:hover{
    background-color:blueviolet;
    color: wheat;
}

.list{
    background-color:bisque;
    padding: 10px;
    border-radius: 5px;
}

.btn-clear{
    color: black;
    background-color: brown;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 7px;
    cursor:pointer;

}
.btn-clear:hover{
    background-color: aquamarine;
    opacity: 0.3;

}




.no{
    text-decoration: none;


}

.yes{
    text-decoration: line-through;
   
}
